.page {
  display: flex;
  flex-direction: column;
  direction: rtl;
  height: calc(100vh - 70px);
  width: 100vw;
}

.title {
  margin: 0;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 800;
  text-align: center;
  padding: 10px 0;
}

.titleGrey {
  color: #333;
}

.titleWhite {
  color: #ffffff;
}

.pageBodyWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
